::ng-deep snack-bar-container.green-snackbar {

    background-color: rgba(19, 221, 138, 0.6);
    font-family: Karla, sans-serif;
    color: white;
    border-radius: 10pt;

    font-family: 'Karl', 'sans-serif';
}

::ng-deep snack-bar-container.red-snackbar {
    font-family: Karla, sans-serif;
    color: white;
    border-radius: 10pt;
    background: #F44336;
    color: white;
}