::ng-deep snack-bar-container.green-snackbar {

    background-color: rgba(19, 221, 138, 0.6);
    color: white;
    border-radius: 5px;

    font-family: 'Karl', 'sans-serif' !important;
    font-size: 20px;
    font-weight: 600;
}

::ng-deep snack-bar-container.red-snackbar {
    font-family: 'Karl', 'sans-serif';
    font-size: 20px;
    font-weight: 600;

    color: white;
    border-radius: 5px;
    background: #F44336;
}