.container {
  height: 93px;
  width: 294px;
  display: flex;
  align-items: center;
}

.avatar img {
  height: 93px;
  width: 93px;
  border-radius: 50%;
}

.user-details {
  width: 149px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.name {
  width: 140px;
  height: 24px;

  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: #2d2a3e;

  margin-bottom: 4px;
}

.info {
  width: 149px;
  height: 17px;

  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  color: #8c8c8c;
}
