.report {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 450px;
  box-shadow: 0px 4px 50px rgba(30, 15, 62, 0.2);
  border-radius: 12px;
}

canvas {
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.1));
  width: 450px;
}

.title {
  align-self: flex-start;
  padding-left: 20px;
  z-index: 2000;
  color: #2D2A3E;
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
  top: -40px;
}

@media (max-width: 1068px) {
  .report {
    width: 500px;
    height: auto;
  }
}

@media (max-width: 1067px) {
  .report {
    width: 450px;
    height: auto;
  }
  .title {
    font-size: 15px;
  }
}


@media (max-width: 768px) {
  .report {
    width: 400px;
    height: auto;
  }
  .title {
    font-size: 15px;
  }
}

@media (max-width: 490px) {
  .report {
    width: 350px;
    height: auto;
  }
}

@media screen and (max-width: 380px) {

  .report {
    width: 300px;
    height: auto;
  }
  
}

@media screen and (max-width: 320px) {

  .report {
    width: 250px;
    height: auto;
  }
  
}
