.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
  width: 230px;
  height: 35px;

  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;

  color: #2d2a3e;

  
}

@media (max-width: 370px) {
  .title {
    width: 200px;
    height: 35px;
    font-size: 25px;
    line-height: 35px;
  }

}

@media screen and (max-height: 700px) {
  .title {
    width: 200px;
    height: 35px;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 5px;
  }
}