<div class="amount">
    <div class="content">
    <div>
        <span class="text-amount">$</span>
    </div>
    <div>
        <input class="text-amount" placeholder="0.0" type="number" >
    </div>
</div>
</div>

<div class="expense">
    <div>
        <mat-icon class="exp-icon">attach_money</mat-icon>
    </div>
    <div>
        <mat-form-field class="exp-input" appearance="fill">
            <mat-label>Type</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of options" [value]="food">
                {{food}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
</div>

<div class="expense">
    <div>
        <mat-icon class="exp-icon">category</mat-icon>
    </div>
    <div>
        <mat-form-field class="exp-input" appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of options" [value]="food">
                {{food}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
</div>

<div class="expense">
    <div>
        <mat-icon class="exp-icon">description</mat-icon>
    </div>
    <div>
        <input class="exp-input" data-symbol="€" placeholder="Description" type="text" id="username" name="username" >
    </div>
</div>

<div class="expense">
    <div>
        <mat-icon class="exp-icon" (click)="picker.open()" >date_range</mat-icon>
    </div>
    <div>
        <mat-form-field class="exp-input" >
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" [ngModel]="startDate">
            <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> -->
            <mat-datepicker #picker startView="year" [startAt]="startDate" > </mat-datepicker>
          </mat-form-field>
    </div>
</div>


