<form action="" class="form-container" [formGroup]="expenseForm">
    <div class="expense amount">
        <span>$</span>
        <input class="text-amount" type="number" formControlName="amount" min="0" step="any" >
    </div>
    
    <div class="expense">
        <div>
            <mat-icon class="exp-icon">attach_money</mat-icon>
        </div>
        <div>
            <mat-form-field class="exp-input" appearance="fill" >
                <mat-label>Type</mat-label>
                <mat-select formControlName="type">
                  <mat-option *ngFor="let option of transactionTypes" [value]="option.value">
                    {{option.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>
    
    <div class="expense">
        <div>
            <mat-icon class="exp-icon">category</mat-icon>
        </div>
        <div>
            <mat-form-field class="exp-input" appearance="fill">
                <mat-label>Category</mat-label>
                <mat-select formControlName="categoryId">
                  <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{category.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>
    
    <div class="expense">
        <div>
            <mat-icon class="exp-icon">description</mat-icon>
        </div>
        <div>
            <input class="exp-input" data-symbol="€" placeholder="Description" type="text" formControlName="description" >
        </div>
    </div>
    
    <div class="expense">
        <div>
            <mat-icon class="exp-icon" (click)="picker.open()" >date_range</mat-icon>
        </div>
        <div>
            <mat-form-field class="exp-input date-input">
                <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="date" class="">
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker > </mat-datepicker>
            </mat-form-field>
        </div>
    </div>

    <div class="expense file-input">
        <input id="file-upload" multiple type="file" formControlName="filePath" title="Upload file" accept="image/jpeg, image/png, image/jpg"/>
        <label for="file-upload" class="file-btn">
            <div class="add-file"><mat-icon class="add-icon">add</mat-icon></div>
           Upload image
        </label>
    </div>
    
    <span class="file-selected">Selected file: {{this.expenseForm.value.filePath}}</span>

    <button type="submit" class="add" (click)="addTransaction()" [disabled]="isLoading">
        <span *ngIf="!isLoading">ADD</span>
        <mat-spinner diameter="20" style="margin:0 auto;" *ngIf="isLoading"></mat-spinner>
    </button>
    
</form>
<app-toast-notif></app-toast-notif>
