<mat-toolbar>
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    <div class="logo" routerLink="/dashboard">BUDG</div>
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
      <div class="avatar">
        <img src="{{user.avatar}}" alt="">
      </div>
      <h4 class="name">{{ user.name + " " + user.lastName}}</h4>
      <mat-divider></mat-divider>
      <div class="options">
        <div class="navigation">
          <button mat-button class="menu-button" routerLink="/dashboard" routerLinkActive="active-button">
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </button>
          <button mat-button class="menu-button" routerLink="/expense" routerLinkActive="active-button">
            <mat-icon>add_circle</mat-icon>
            <span>Add transaction</span>
          </button>
          <button mat-button class="menu-button" routerLink="/transactions" routerLinkActive="active-button">
              <mat-icon>format_list_bulleted</mat-icon>
              <span>Transactions</span>
            </button>
          <button mat-button class="menu-button" routerLink="/reports" routerLinkActive="active-button">
            <mat-icon>bar_chart</mat-icon>
            <span>Reports</span>
          </button>
          <button mat-button class="menu-button" routerLink="/settings" routerLinkActive="active-button">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
        </div>
        <div class="logout">
          <button mat-button class="menu-button" (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </div>
      </div>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <div class="content">
          <router-outlet (activate)="onOutletLoaded($event)"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  