<div class="component">
    <div class="bkg-card"></div>
    <div class="balance-card">
        <div class="current-balance">
            <div class="current-balance-text">Current Balance</div>
            <div class="current-balance-value">${{currentBalanceData.currentBalance}}</div>
        </div>
        <div class="income-expenses">
            <div class="income">
                <div class="icon-circle">
                    <mat-icon class="up">arrow_upward</mat-icon>
                </div>  
                <div class="text-group">
                    <div class="text">Income</div>
                    <div class="value">${{currentBalanceData.totalIncome}}</div>
                </div>
            </div>
            <div class="expenses">
                <div class="icon-circle">
                    <mat-icon class="down">arrow_downward</mat-icon>
                </div>                
                <div class="text-group">
                    <div class="text">Expenses</div>
                    <div class="value">${{currentBalanceData.totalExpenses}}</div>
                </div>
            </div>
        </div>
    </div>
</div>