.container {
    width: 324px;
    height: 123px;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    width: 121px;
    height: 35px;
  }
  
  .title h4 {
    font-family: "Karla";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
  
    color: #2d2a3e;
  }
  
  .options {
      display: flex;
      align-items: center;
      
  }
  