<form class="container" [formGroup]="budgetForm">
  <div class="form">
    <label for="amount">Current budget:</label>
    <div class="input">
      <span>$</span>
      <input
        type="number"
        name="amount"
        placeholder="{{ this.currentBudget.amount }}"
        formControlName="amount"
        min="1"
        max="999999"
        maxlength="6"
      />
    </div>
  </div>
  <app-set-budget-button (click)="setBudget()" [isLoading]="isLoading"></app-set-budget-button>
</form>



  