 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;

  color: #bfc1c5;
}


input {
  width: 270px;
  height: 74px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 82px;

  border: none;
  outline: none;
  background-color: #fafafa;

  color: -webkit-linear-gradient(
    136.4deg,
    #3fa5e8 12.48%,
    #8087f1 34.82%,
    rgba(250, 146, 123, 0.79) 73.64%,
    rgba(255, 209, 114, 0.81) 82.79%
  );

  caret-color: #dddddd;
}

::placeholder {
  background: linear-gradient(
    136.4deg,
    #3fa5e8 12.48%,
    #8087f1 34.82%,
    rgba(250, 146, 123, 0.79) 73.64%,
    rgba(255, 209, 114, 0.81) 82.79%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span {
  margin: 0 1rem;
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 82px;

  background: -webkit-linear-gradient(
    136.4deg,
    #3fa5e8 12.48%,
    #8087f1 34.82%,
    rgba(250, 146, 123, 0.79) 73.64%,
    rgba(255, 209, 114, 0.81) 82.79%
  );
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;

}



input[type="number"] {
  background: -webkit-linear-gradient(
    136.4deg,
    #3fa5e8 12.48%,
    #8087f1 34.82%,
    rgba(250, 146, 123, 0.79) 73.64%,
    rgba(255, 209, 114, 0.81) 82.79%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin: 0;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;

}


