/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  /* background-color: #E8E9EB; */
  background-color: #fafafa;
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.mat-option-text {
  font-family: 'Karla', sans-serif;
}

.mat-datepicker-content-touch{
    font-family: 'Karla', sans-serif;
}

.mat-drawer-inner-container::-webkit-scrollbar {
    display: none;
}

