button {
  width: 41px;
  height: 41px;
  background: #2d2a3e;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

button mat-icon {
  color: #ffffff;
}

@media screen and (max-width: 360px) {
  button {
    width: 34px;
    height: 34px;
  }

  mat-icon {
    font-size: 16px;
    padding-top: 7çpx;
  }
}
  
