.container {
  height: 93px;
  width: 294px;
  display: flex;
  align-items: center;
}

.icon {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #e9918c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon mat-icon {
  color: #744644;
}

.title {
  width: 158px;
  height: 24px;

  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;

  color: #2d2a3e;

  margin-left: 12px;
}
